

<!Doctype html>
<!-- Created by: Walter Rackley -->
<!-- Customer: HCS -->
<!-- Created On: 4/4/2017 -->
<html>
   <head>
      <title>Find Local Pets</title>
      <!-- Brings in the required JS libs -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"></script>
      <script src="https://rawgit.com/wrackley/Demo/master/src/js/petFinder.js"></script>
      <script src="https://rawgit.com/wrackley/Demo/master/src/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://rawgit.com/wrackley/Demo/master/src/css/style.css">
      <!-- Actual scripting logic for the Application -->
   </head>
   <!-- Declares the name of the app -->
   <body ng-app="findLocalPets" data-spy="scroll" data-target=".navbar" data-offset="50">
      <!-- declares the name of a controller to be used in angularjs code -->
      <div ng-controller="findLocalPetsCtrl">
         <!-- Declares the name of the form, will be used to validate entries in angularjs -->
         <nav class="navbar navbar-light bg-faded">
            <form class="form-inline">
               <input class="form-control mr-sm-2" type="text" placeholder="Zip Code" ng-model="inputData.zipCode" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" required>
               <button class="btn btn-outline-success my-2 my-sm-0" ng-click="findPets()" type="submit">Search</button>
               <button ng-show="pets" class="btn btn-secondary btn-sm" ng-click="findPets()" style="float: right;" type="submit">Update Results</button>
               <h6>
                  <select ng-model="selectedAnimal" ng-show="pets" style="float: right;">
                     <option selected value>Both</option>
                     <option value="Cat">Cat</option>
                     <option value="Dog">Dog</option>
                  </select>
                  <span ng-show="pets" class="label label-default" style="float: right;">Animal Type </span>
                  <select ng-model="selectedSex" ng-show="pets" style="float: right;" value="">
                     <option selected value>Both</option>
                     <option value="M">Male</option>
                     <option value="F">Female</option>
                  </select>
                  <span ng-show="pets" class="label label-default" style="float: right;">Gender </span>
                  <select ng-show="pets" ng-model="selectedRsltPerPage" style="float: right;">
                     <option selected value>25</option>
                     <option value="50">50</option>
                     <option value="100">100</option>
                  </select>
                  <span ng-show="pets" class="label label-default" style="float: right;">Results per Page </span>
               </h6>
            </form>
         </nav>
         <!-- this is where the search results are pushed to the user -->
         <div class="container-fluid">
            <div class="card-deck">
               <div class="card" ng-click="cardClicked(pet.id.$t)" ng-repeat="pet in pets | orderBy: 'name.$t'">
                  <div style="text-align: center;">
                     <img class="card-img-top" style="align: center;" ng-src="{{getPic(pet.media.photos.photo[3].$t)}}" alt="No image found">
                  </div>
                  <div class="card-block">
                     <h4 class="card-title">{{pet.name.$t}}</h4>
                     <p class="card-text">
                        <small class="text-muted">
                           {{pet.sex.$t=="M"?"Male":"Female"}} {{pet.animal.$t}}                  
                     <p><span class="label label-default" ng-hide="angular.isArray(pet.breeds.breed)">{{pet.breeds.breed.$t}}</span>
                     <span class="label label-default" ng-repeat="(k, breed) in pet.breeds.breed">{{breed.$t}}</span></p>
                     </small>
                     </p>
                     <div class="card-text">
                        City: {{pet.contact.city.$t}}
                        <br>
                        State: {{pet.contact.state.$t}}
                        <br>
                        Zip: {{pet.contact.zip.$t}}
                        <br>
                        ID: {{pet.id.$t}}
                        <br>
                     </div>
                     <p class="card-text">
                        <small class="text-muted">
                        <span class="label label-default" ng-repeat="(k, option) in pet.options.option">{{option.$t}}</span>
                        <br>
                        <a ng-href="mailto:{{pet.contact.email.$t}}">Email Contact</a>
                        </small>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container" ng-show="pets">
            <div style="padding-bottom: 30px;"><button type="button" class="btn" style="float: left;" ng-show="page>0" ng-click="changePage(false)">Previous</button><button type="button" class="btn" style="float: right;" ng-show="page<25" ng-click="changePage(true)">Next</button></div>
            <div style="text-align: center;"><small ng-show="true" class="text-muted">©2017</small></div>
         </div>
      </div>
   </body>
</html>

